@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #050835de;
  --player: hsla(254, 57%, 10%, 0.89);

  --skip-btns: #b4afef;
  --light-grey: #c8c7d3;
  --purple: #a953fd;
}

body {
  background-color: var(--dark-bg);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.player {
  background-color: var(--player);

  padding: 100px 40px;
  width: 414px;
  border-radius: 0.7rem;
  // box-shadow: 0px 3px 12px rgba(141, 137, 137, 0.15);
  box-shadow: rgba(0, 0, 0, 0.438) 0px 15px 25px,
    rgba(0, 0, 0, 0.787) 0px 5px 10px;
}

.song-img {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: rgb(254, 72, 128);
  max-width: 100%;
  width: 200px;
  margin-bottom: 50px;
  border-radius: 50%;
  box-shadow: 0px 3px 12px rgb(94, 16, 197);
  background-image: url(tracks/BetaSensoryMotorRhythm_FRONT.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.song-img::after {
  content: "";
  padding-top: 100%;
  display: block;
  animation: img_hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.song-img::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  border: 3px solid rgb(142, 72, 254);
  box-shadow: rgba(224, 163, 230, 0.493) 3px 3px 6px 2px inset,
    rgba(200, 185, 231, 0.938) 3px 3px 6px 2px inset,
    rgba(94, 16, 197, 0.5) -3px -3px 6px 10px inset;
  border-radius: 50%;
  animation: img_hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes img_hover {
  from {
    transform: rotate(0deg, 360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.song-details {
  text-align: center;
  margin-bottom: 1rem;
}

.song-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.song-sub-title {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-grey);
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

i {
  color: #fff;
}

.skip-btn i {
  font-size: 2.5rem;
  color: var(--light-grey);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.bx {
  transition: scale 0.2s ease;
}

.skip-btn:hover i {
  box-shadow: rgba(0, 132, 255, 0.5) 0px 2px 25px 0px inset;
  // box-shadow: rgba(174, 136, 223, 0.5) 0px 2px 16px 0px inset;
  border-radius: 50%;
}

.skip-btn i:active {
  color: var(--purple);
  transition: 0.1s;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 65px;
  height: 65px;
  line-height: 75px;
  border-radius: 50%;
  margin: 0 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: var(--purple);
  box-shadow: rgba(0, 207, 255, 0.19) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: scale(0.85);
  transition: 0.3s ease;
}

.play-btn:active::after {
  box-shadow: none;
}

.play-btn::after {
  content: "";
  padding-top: 100%;
  display: block;
  border: 1px solid rgb(58, 23, 65);

  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  transition: 0.2s ease;
  transform: scale(0.85);
}

.play-btn:active::after {
  padding: 0%;
}

.play-btn::before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--purple);
  box-shadow: rgba(224, 163, 230, 0.493) 0px 2px 4px 0px,
    rgba(174, 136, 223, 0.5) 0px 2px 16px 0px;

  border-radius: 50%;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  transition: 0.2s ease-out;
}

.play-btn:hover {
  box-shadow: rgba(0, 207, 255, 0.19) 0px -23px 25px 0px inset;
}

.play-btn:active::before {
  box-shadow: rgba(224, 163, 230, 0.493) 0px 2px 4px 0px,
    rgba(174, 136, 223, 0.5) 0px 2px 8px 0px;
}

.next-up {
  text-align: center;
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.next-up p span {
  font-weight: 400;
  font-style: italic;
  margin-left: 0.5rem;
  color: rgb(0, 208, 255);
}

.next-up p {
  font-weight: 500;
  color: var(--purple);
}

@media (max-width: 414px) {
  .player {
    min-height: 100vh;
    border-radius: none;
    padding: 75px 30px;
  }
}
